{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="blog">
                    <div class="page-header" style="padding-top: 1em;">
                        <h1>{{ blog.title }}</h1>
                        <div class="blog-detail">
                            <span>{{ moment(blog.createtime).format('YYYY.MM.DD') }} •</span>
                            <span>{{ blog.comments_count }} 条评论 •</span>
                            <span>浏览 {{ blog.view_count }} 次</span>
                        </div>
                    </div>

                    <div class="blog-content">{{ blog.content_html | safe }}</div>

                </div>
                <div class="main-block">
                    <h3 id="comments">评论</h3>
                    <form method="post" action="{{ url_for('admin.comment_post', blog_id=blog.id) }}">
                        <div class="form-group">
                            <label for="name">*name</label>
                            <input class="form-control" name="name" type="text" placeholder="昵称"
                                   value="{% if current_user.is_authenticated %}{{ current_user.username }}{% endif %}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="email">*email</label>
                            <input class="form-control" name="email" type="email" placeholder="邮箱"
                                   value="{% if current_user.is_authenticated %}{{ current_user.email }}{% endif %}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="website">website</label>
                            <input class="form-control" name="website" type="url" placeholder="网址"
                                   value="{% if current_user.is_authenticated %}{{ current_user.website }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="content">*content</label>
                            <textarea class="form-control" name="content" rows="4" placeholder="评论" required
                                      style="resize: none"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">发表</button>
                    </form>
                    <hr>
                    <div class="media-list">
                        {% for c in blog.comments %}
                            {% if not c.is_block %}
                                <li class="media" id="{{ c.id }}">
                                    <div class="media-left">
                                        <img src="https://cdn.v2ex.com/gravatar/{{ c.gravatar_id }}" class="img-circle"
                                             height="50" width="50">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {% if c.website %}
                                                <span><a target="_blank" href="{{ c.website }}" rel="nofollow"
                                                         class="title">{{ c.name }}</a></span>
                                            {% else %}
                                                <span>{{ c.name }}</span>
                                            {% endif %}
                                            {% if current_user.is_authenticated %}
                                                <span><a href="mailto:{{ c.email }}"><i
                                                        class="fa fa-envelope"></i></a></span>
                                            {% endif %}
                                        </h4>
                                        <h6>{{ moment(c.createtime).format('YYYY-MM-DD  H:mm') }}</h6>
                                        <p class="{% if c.is_block %}comment-body-blcok{% endif %}">{{ c.content }}</p>
                                    </div>
                                    {% if current_user.is_authenticated %}
                                        <div class="media-right">
                                            {% if c.is_block %}
                                                <a class="btn btn-success"
                                                   href="{{ url_for('admin.comment_unblock', comment_id=c.id) }}">恢复</a>
                                            {% else %}
                                                <a class="btn btn-warning"
                                                   href="{{ url_for('admin.comment_block', comment_id=c.id) }}">隐藏</a>
                                            {% endif %}
                                            <p></p>
                                            <a class="btn btn-danger"
                                               href="{{ url_for('admin.comment_delete', comment_id=c.id) }}">删除</a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% elif current_user.is_authenticated %}
                                <li class="media" id="{{ c.id }}">
                                    <div class="media-left">
                                        <img src="https://cdn.v2ex.com/gravatar/{{ c.gravatar_id }}" class="img-circle"
                                             height="50" width="50">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {% if c.website %}
                                                <span><a target="_blank" href="{{ c.website }}" rel="nofollow"
                                                         class="title">{{ c.name }}</a></span>
                                            {% else %}
                                                <span>{{ c.name }}</span>
                                            {% endif %}
                                            {% if current_user.is_authenticated %}
                                                <span><a href="mailto:{{ c.email }}"><i
                                                        class="fa fa-envelope"></i></a></span>
                                            {% endif %}
                                        </h4>
                                        <h6>{{ moment(c.createtime).format('YYYY-MM-DD  H:mm') }}</h6>
                                        <p class="{% if c.is_block %}comment-body-blcok{% endif %}">{{ c.content }}</p>
                                    </div>
                                    {% if current_user.is_authenticated %}
                                        <div class="media-right">
                                            {% if c.is_block %}
                                                <a class="btn btn-success"
                                                   href="{{ url_for('admin.comment_unblock', comment_id=c.id) }}">恢复</a>
                                            {% else %}
                                                <a class="btn btn-warning"
                                                   href="{{ url_for('admin.comment_block', comment_id=c.id) }}">隐藏</a>
                                            {% endif %}
                                            <p></p>
                                            <a class="btn btn-danger"
                                               href="{{ url_for('admin.comment_delete', comment_id=c.id) }}">删除</a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endif %}
                            <hr style="width: 30%">

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}