{% extends "admin_base.html" %}
{% import "_pagination.html" as macros %}

{% block headcontainer %}
    <h1>博客管理</h1>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>标题</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for b in blogs %}
                <tr>
                    <th><a href="{{ url_for('main.blog_view', blog_id=b.id) }}">{{ b.title }}</a></th>
                    <th>{{ moment(b.createtime).format('YYYY-MM-DD') }}</th>
                    <th>
                        <a class="btn btn-success" data-toggle="modal" data-target="#editBlog-{{ b.id }}"><i
                                class="fa fa-edit"></i> 编辑</a>
                        {% if b.type == 'blog' %}
                        <a href="#" class="btn btn-danger blog-del" id="{{ b.id }}" onclick="return false"
                           style="color: white"><i class="fa fa-trash"></i> 删除</a>
                        {% endif %}

                        <!-- 模态框  -->
                        <div class="modal fade" id="editBlog-{{ b.id }}" tabindex="-1" role="dialog" aria-labelledby="editBlog"
                             aria-hidden="true" data-backdrop="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h3>修改博客</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form id="edit-{{ b.id }}" method="post" action="{{ url_for('admin.blog_edit', blog_id=b.id) }}">
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input class="form-control" type="text" name="title"
                                                       placeholder="" value="{{ b.title }}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="tags">Tags</label>
                                                <input class="form-control" name="tags" type="text"
                                                       data-role="tagsinput"
                                                       placeholder="" value="{% for t in b.tags %}{{ t.name }},{% endfor %}">
                                            </div>
                                            <div class="form-group">
                                                <label for="summary">Summary</label>
                                                <textarea class="form-control" name="summary" rows="3" placeholder="摘要"
                                                           >{{ b.summary }}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="content">Content</label>
                                                <textarea class="form-control" name="content" rows="6" placeholder="正文"
                                                          required>{{ b.content }}</textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button id="{{ b.id }}" class="btn btn-primary b-sumbit">提交更改</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagebar">
            {{ macros.pagination_widget(pagination, 'admin.blogs_manage') }}
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {

            $('.b-sumbit').click(function () {
                var id = $(this).attr('id');
                $('#edit-'+id).submit();
            });

            $('.blog-del').click(function () {
                var id = $(this).attr('id');
                var self = $(this);

                $.ajax({
                    url: '/api/blogs/' + id,
                    type: 'DELETE',
                    datatype: 'json',
                    success: function (r) {
                        if (r['status']) {
                            self.closest('tr').remove();
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}