{% extends "admin_base.html" %}
{% import "_pagination.html" as macros %}

{% block headcontainer %}
    <h1>评论管理</h1>
    <div>
        {% for c in comments %}
            <div class="comment-manage">
                <p><a class="title" href="{{ c.website }}" target="_blank"><strong>{{ c.name }}</strong></a>
                    &nbsp;评论了&nbsp;<a class="title" href="{{ url_for('main.blog_view', blog_id=c.blog.id) }}#{{ c.id }}"><strong>{{ c.blog.title }}</strong></a></p>
                <p class="{% if c.is_block %}comment-body-blcok{% endif %}" style="margin-left: 10px">{{ c.content }}</p>
                <span><i class="fa fa-calendar"></i> {{ moment(c.createtime).format("YYYY-MM-DD HH:mm") }}</span>
                <a href="{{ url_for('admin.comment_delete', comment_id=c.id) }}"
                   class="pull-right" style="margin: 0 5px;">删除</a>
                    <a href="{{ url_for('admin.comment_block', comment_id=c.id) }}"
                       class="pull-right">{% if c.is_block %}恢复 |{% else %}隐藏 |{% endif %}</a>
            </div>
        {% endfor %}
    </div>
    <div class="pagebar">
        {{ macros.pagination_widget(pagination, 'admin.comments_manage') }}
    </div>
{% endblock %}